.panel {
    z-index: 4;
    overflow: hidden;
    transition: all .3s ease;
    background: #F4F4F4;
    box-shadow: 1px 1px 15px rgba(40, 15, 112, 0.2);

    @include media-breakpoint-up(xl) {
        width: 70px;
        padding: 20px 10px 58px;
    }

    @include media-breakpoint-only(lg) {
        width: 50px;
        padding: 20px 4px;
    }

    @include media-breakpoint-up(lg) {
        @include pos(0,0,fixed);
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @include media-breakpoint-down(md) {
        @include pos(0,0,fixed);
        right: 0;
        height: 50px;
        padding: 0 20px;
    }

    &:hover {
        @include media-breakpoint-up(xl) {
            width: 256px;
        }

        & + .page {
            @include media-breakpoint-up(xl) {
                padding: 0 0 0 256px;
            }
        }

        .panel__menu-item {
            @include media-breakpoint-up(xl) {
                text-indent: 0;
            }
        }

        .panel__menu-title {
            @include media-breakpoint-up(xl) {
                transform: translateX(0);
            }
        }

        .panel__menu-icon {
            @include media-breakpoint-up(xl) {
                margin: 0 15px 0 0;
                transform: translateX(0);
            }
        }

        .panel__user {
            @include media-breakpoint-up(xl) {
                text-indent: 0;
            }
        }

        .panel__user-picture {
            @include media-breakpoint-up(xl) {
                margin: 0 10px 0 0;
            }
        }

        .panel__user-title {
            @include media-breakpoint-up(xl) {
                transform: translateX(0);
            }
        }
    }
}

.panel__top {
    @include media-breakpoint-down(md) {
        display: flex;
        align-items: center;
    }
}

.panel__header {
    @include before;

    @include media-breakpoint-up(xl) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include media-breakpoint-down(lg) {
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        @include offset(0 0 15px,0 0 20px);
    }

    @include media-breakpoint-down(md) {
        margin: 0 10px 0 0;
    }

    &:before {
        @include media-breakpoint-up(lg) {
            left: 10px;
            right: 10px;
            bottom: 0;
            height: 1px;
            text-indent: 0;
            background: #fff;
            transition: all .3s ease;
        }
    }
}

.panel__bookmark {
    @include media-breakpoint-up(xl) {
        display: none;
    }

    @include media-breakpoint-only(lg) {
        margin: 0 0 15px;
    }

    @include media-breakpoint-down(md) {
        margin: 0 10px 0 0;
    }
}

.panel__user {
    @extend %flex-item;
    color: $color__brand_default;

    @include media-breakpoint-up(lg) {
        text-indent: 999px;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
}

.panel__user-picture {
    text-indent: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid $color__brand_optional;

    @include media-breakpoint-up(xl) {
        @include fw(50px);
        @include wh(50px,50px);
    }

    @include media-breakpoint-only(lg) {
        @include fw(100%);
    }

    @include media-breakpoint-down(md) {
        @include wh(20px);
        display: block;
        margin: 0 0 4px;
    }
}

.panel__user-title {
    @include media-breakpoint-up(lg) {
        transition: all .3s ease;
        transform: translateX(100%);
    }

    @include media-breakpoint-down(md) {
        @include fs-lh(12px,14px);
    }
}

.panel__logout {
    @include fw(15px);
    @include wh(15px,21px);
    @include inline-block;
}

.panel__menu {
    @include media-breakpoint-down(md) {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.panel__menu-item {
    @extend %flex-item;
    white-space: nowrap;
    transition: all .3s ease;

    &.panel__menu-item_current,
    &:hover {
        background: #fff;
    }

    @include media-breakpoint-up(lg) {
        @include offset(0 0 28px,10px);
        text-indent: 999px;
    }

    @include media-breakpoint-down(md) {
        padding: 6px 8px;
        flex-direction: column;
    }

    &:first-child {
        @include media-breakpoint-down(md) {
            position: absolute;
            left: 0;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    /*
    &:first-child {
        @include before;
        margin: 0 0 45px;

        &:before {
            left: 10px;
            right: 10px;
            bottom: -15px;
            height: 1px;
            text-indent: 0;
            background: #fff;
            transition: all .3s ease;
        }
    }
    */
}

.panel__menu-icon {
    @include fw(20px);
    @include wh(20px,20px);
    text-indent: 0;
    transition: all .3s ease;

    @include media-breakpoint-up(xl) {
        transform: translateX(5px);
    }

    @include media-breakpoint-only(lg) {
        transform: translateX(1px);
    }

    @include media-breakpoint-down(md) {
        margin: 0 0 4px;
    }
}

.panel__menu-title {
    transition: all .3s ease;

    @include media-breakpoint-up(lg) {
        transform: translateX(100%);
    }

    @include media-breakpoint-down(md) {
        @include fs-lh(12px,14px);
    }
}

.panel__footer {
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.panel__logo {
    text-align: center;

    &.panel__logo_text {
        margin: 0 0 8px;

        .icon-fluid {
            @include wh(28px,112px);
        }
    }

    &.panel__logo_img {
        .icon-fluid {
            @include wh(45px,45px);
        }
    }
}