#price.section.section_container(data-aos="fade-down")
	.section__title.text-center Тарифы
	.plans
		.plans__item
			.plans__bg
				img.img-fluid(src="../img/bg/bg-wave.svg" alt="")
			.plans__content
				.plans__title Без сопровождения
				ul.plans__list
					li.plans__list-item Видеоуроки
					li.plans__list-item Домашние работы в виде тестов и упражнений
					li.plans__list-item Дополнительные учебные пособия к урокам
					li.plans__list-item Техническая поддержка куратора по вопросам, связанным с организацией обучения
					li.plans__list-item 4 голосовых аудио-чата с куратором в чате телеграмм 
					li.plans__list-item Доступ к курсу остается на полгода
			.plans__footer
				.plans__row стоимость
					br
					|обучения:
					.plans__price
						span.price 5 199
						|₽
				button.btn.btn_lg.btn_main(type="button") Записаться на курс
		.plans__item
			.plans__bg
				img.img-fluid(src="../img/bg/bg-wave-colored.svg" alt="")
			.plans__content
				.plans__title С сопровождением
				ul.plans__list
					li.plans__list-item Видеоуроки
					li.plans__list-item Домашние работы в виде тестов и упражнений
					li.plans__list-item Дополнительные учебные пособия к урокам
					li.plans__list-item Техническая поддержка куратора по вопросам, связанным с организацией обучения
					li.plans__list-item Отдельный VIP чат с экспертом в течение месяца
					li.plans__list-item 4 получасовых видеоконференции в Zoom с экспертом
					li.plans__list-item Доступ к курсу остается навсегда
			.plans__footer
				.plans__row стоимость
					br
					|обучения:
					.plans__price
						span.price 15 199
						|₽
				button.btn.btn_lg.btn_main(type="button") Записаться на курс